@page
@model BoardGames.Pages.Manage.GameNights.UpsertModel
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Upsert</h1>

@if (Model.gameNight != null)
{

}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 bg-white border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.gameNight.GameNightId != 0)
            {
                <input type="hidden" asp-for="gameNight.GameNightId" />
            }
            <div class="col-md-12 px-3" style="border-bottom:1px solid #325d88;">
                <h2 class="text-info">@(Model.gameNight.GameNightId != 0 ? "Update" : "Create") Game Night</h2>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label class="text-black-50" asp-for="gameNight.GameNightDate"></label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" asp-for="gameNight.GameNightDate" />
                        <span class="text-danger" asp-validation-for="gameNight.GameNightDate"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label class="text-black-50" asp-for="gameNight.GameNightType"></label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" asp-for="gameNight.GameNightType" />
                        <span class="text-danger" asp-validation-for="gameNight.GameNightType"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label class="text-black-50" asp-for="gameNight.Attendees"></label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" asp-for="gameNight.Attendees" />
                        <span class="text-danger" asp-validation-for="gameNight.Attendees"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-9 offset-3">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.gameNight.GameNightId != 0)
                                {
                                    <button type="submit" class="btn btn-info form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info form-control">Create</button>
                                }
                            </div>
                            <div class="col-md-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To Game Nights</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>