@page
@model BoardGames.Pages.Manage.Types.IndexModel

@using BoardGames.Utility

    <hr />

@if (User.IsInRole(SD.ManagerRole))
{
    <div class="bg-secondary container border">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-white mt-2">Type List</h2>
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="upsert" class="btn btn-info m-3">New Type</a>
            </div>
        </div>
        <br /> <br />
        <table id="DT_Load" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Type Name</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <div>
        <h1 class="danger">Access Denied</h1>
    </div>
}
    @section Scripts {
        <script src="~/js/type.js"></script>
    }

