@page
@model BoardGames.GameNightsModel
@{
    ViewData["Title"] = "GameNights";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>GameNights</h1>

<div class="row">
    <div class="col-md-2">Date</div> @*date of game night*@
    <div class="col-md-2">Type</div> @*type: open - tournament*@
    <div class="col-md-2">Attendees</div> @*number of attendees - tournys have sign ups*@
    <div class="col-md-2">Capacity</div> @*How many people can join*@
    <div class="col-md-4">Join</div> @*join if spots are available.*@
</div>

@*Add for loop here for each game night*@
@foreach (var gameNight in Model.GameNights)
{
    <div class="row" id="gameNaight-id-@gameNight.GameNightId">
        <div class="col-md-2">@gameNight.GameNightDate</div> @*date of game night*@
        <div class="col-md-2">@gameNight.GameNightType</div> @*type: open - tournament*@
        <div class="col-md-2">@gameNight.Attendees</div> @*number of attendees - tournys have sign ups*@
        <div class="col-md-2">@(gameNight.GameNightType == "Tournament" ? "16" : "N/A")</div> @*How many people can join*@
        <div class="col-md-4">Join</div> @*join if spots are available.*@
    </div>
}