@page
@using BoardGames.Utility

    <hr />

@if (User.IsInRole(SD.ManagerRole))
{
    <div class="bg-secondary container border">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-white mt-2">Game Item List</h2>
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="upsert" class="btn btn-info m-3">New Game Item</a>
            </div>
        </div>
        <br /> <br />
        <table id="DT_Load" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Topic</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <div>
        <h1 class="danger">Access Denied</h1>
    </div>
}
@section Scripts{
    <script src="~/js/gameitem.js"></script>
}