@using BoardGames.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContentAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Board Games</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

</head>
<body class="bg-dark text-light">
    <header class="fixed-top">

        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand text-white" asp-area="" asp-page="/Customer/Home/Index">
                <img src="~/images/die.png" class="mr-1" alt="dice" style="object-fit:scale-down; height:30px; width:30px;" />
                Gametopia
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars text-white"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-page="/Customer/GameNights/GameNights">Game Night</a>
                            <a class="dropdown-item" asp-page="/Customer/Cart/Index">Shopping Cart</a>
                        </div>
                    </li>
                    @if (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.StoreClerk))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-black" asp-page="/Manage/Topics/Index">Topics</a>
                                <a class="dropdown-item text-black" asp-page="/Manage/Types/Index">Types</a>
                                <a class="dropdown-item text-black" asp-page="/Manage/GameItems/Index">Game Items</a>
                                <a class="dropdown-item text-black" asp-page="/Manage/GameNights/Index">Game Nights</a>
                                @if (User.IsInRole(SD.ManagerRole))
                                {
                                    <a class="dropdown-item text-black" asp-page="/User/Index">Users</a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-black" asp-page="/Manage/Order/ManagerOrder">Orders</a>
                                <a class="dropdown-item text-black" asp-page="/Manage/Order/OrderList">Shipping</a>
                            </div>
                        </li>
                    }
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    @if (HttpContentAccessor.HttpContext.Session.GetInt32(SD.ShoppingCart) != null)
                    {

                        <div class="">
                            <a class="nav-link text-white" asp-page="/Customer/Cart/Index">
                                @{ var count = HttpContentAccessor.HttpContext.Session.GetInt32(SD.ShoppingCart); }
                                <i class="fas fa-shopping-cart"></i>&nbsp;(@count)
                            </a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a class="nav-link text-white" asp-page="/Customer/Cart/Index">
                                <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                            </a>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <hr class="mb-1" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer small bg-info text-white">
        <div class="container">
            &copy; 2020 - Board Games - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/cdc44dxo6vevabywpwc6zrdpvf2raz1hz4lhbsdt0uwlgc2w/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>